<div class="orange-bg tiles mb-4 mt-4">
  <h1>We look forward to your e-mail</h1>
</div>

<div class="contact-us">

  <p>Do you have any questions for us? Then please fill in our contact form with your personal data and your request and
    click on "Submit"! We will contact you immediately.</p>

  <div class="d-flex justify-content-center">
    <!-- form -->
    <form name="myForm" novalidate>

      <div class="row">
        <div class="form-group col-md-6 col-sm-12">

          <label for="Name">Name <em>* Required</em></label>
          <input type="text" class="form-control" placeholder="Name" name="username" ng-model="vm.username" required>

          <!-- error -->
          <span>
            <span style="color:red" ng-show="myForm.username.$dirty && myForm.username.$invalid" ng-hide="vm.hideError">
              <span ng-show="myForm.username.$error.required">Username is required.</span>
            </span></span>
          <!--/.error-->

        </div>

        <div class="form-group col-md-6 col-sm-12">
          <label for="Name">Company Name</label>
          <input type="text" class="form-control" placeholder="Companyname" ng-model="vm.companyname">
        </div>
      </div>

      <div class="form-group">

        <label for="Email">Email <em>* Required</em></label>
        <input type="text" class="form-control" placeholder="Email" name="email" ng-model="vm.email" required>

        <!-- error -->
        <span>
          <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid" ng-hide="vm.hideError">
            <span ng-show="myForm.email.$error.required">e-Mail is required.</span>
          </span></span>
        <!--/.error-->

      </div>

      <div class="form-group">
        <label for="Phone">Phone <em>* Required</em></label>
        <input type="text" class="form-control" placeholder="Phone" name="phone" ng-model="vm.phone" required>

        <!-- error -->
        <span>
          <span style="color:red" ng-show="myForm.phone.$dirty && myForm.phone.$invalid" ng-hide="vm.hideError">
            <span ng-show="myForm.phone.$error.required">Phone is required.</span>
          </span></span>
        <!--/.error-->
      </div>

      <div class="form-group">
        <label for="Message">Message <em>* Required</em></label>

        <textarea type="text" class="form-control" placeholder="Message" name="message" ng-model="vm.message" rows="6"
          ng-minlength="5" ng-maxlength="1000" required></textarea>
        <span class="pull-right"> {{1000 - vm.message.length}} characters remaining</span>

        <!-- error -->
        <span>
          <span style="color:red" ng-show="myForm.message.$dirty && myForm.message.$invalid" ng-hide="vm.hideError">
            <span ng-show="myForm.message.$error.required">Message is required.</span>
          </span>
          <span style="color:red" ng-show="myForm.message.$error.minlength">
            <span>Message must be minimum 5 characters long.</span>
          </span>
        </span>
        <!--/.error-->
      </div>

      <button type="submit" class="btn orange-bg" ng-click="vm.contactUs()" ng-disabled="(myForm.username.$dirty && myForm.username.$invalid || myForm.username.$pristine) 
      
      || (myForm.email.$dirty && myForm.email.$invalid || myForm.email.$pristine)

      || (myForm.phone.$dirty && myForm.phone.$invalid || myForm.phone.$pristine)

      || (myForm.message.$dirty && myForm.message.$invalid || myForm.message.$pristine)

      || (myForm.message.$error.minlength && myForm.message.$error.maxlength)
      ">Submit</button>

    </form>
    <!-- ./form -->

  </div>

</div>

<!-- error block -->
<div class="alert alert-danger fixed bottom-right" role="alert" ng-if="vm.error">
  Error!
</div>
<!-- ./error block -->

<!-- success block -->
<div class="alert alert-success fixed bottom-right" role="alert" ng-if="vm.success">
  Thank you for sending us your request!
</div>
<!-- ./success block -->