<div class="container">

  <div class="contact-us">

    <div class="row">
      <div class="orange-bg tiles mb-4 mt-4">
        <h1>Contact Us</h1>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3 col-sm-12">
        <address class="card">
          <div class="card-body">
            <h2 class="card-title">Chirag Ali</h2>
            <h3 class="card-subtitle mb-2 text-muted">Proprietor</h3>
            <p class="card-text">#124/1, 1st Floor,</p>
            <p class="card-text">R.K.Mansion, V.R.N. Lane,</p>
            <p class="card-text">S.P. Road Cross,</p>
            <p class="card-text">Bangalore - 560 002</p>
            <p class="card-text"><i class="fas fa-mobile"></i> +91 96209 16006</p>
          </div>
        </address>
      </div>

      <div class="mapouter col-md-9 col-sm-12">
        <div class="gmap_canvas"><iframe width="100%" height="213" id="gmap_canvas"
            src="https://maps.google.com/maps?q=%23124%2F1%2C%201st%20Floor%2C%20%20R.K.Mansion%2C%20V.R.N.%20Lane%2C%20%20S.P.%20Road%20Cross&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
            href="https://www.embedgooglemap.org">embed google indoor map</a></div>
      </div>


    </div>

    <div class="row">
      <div class="col pt-4">
        <p>Do you have any questions for us? Then please fill in our contact form with your personal data and your
          request
          and
          click on "Submit"! We will contact you immediately.</p>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <!-- form -->
      <form name="vm.myForm" novalidate>

        <div class="row">
          <div class="form-group col-md-6 col-sm-12">

            <label for="Name">Name <em>* Required</em></label>
            <input type="text" class="form-control" placeholder="Name" name="username" ng-model="vm.username" required>

            <!-- error -->
            <span class="position-absolute contact-us-error"
              ng-show="vm.myForm.username.$dirty && vm.myForm.username.$invalid" ng-hide="vm.hideError">
              <span ng-show="vm.myForm.username.$error.required">Username is required.</span>
            </span>
            <!--/.error-->

          </div>

          <div class="form-group col-md-6 col-sm-12">
            <label for="Name">Company Name</label>
            <input type="text" class="form-control" placeholder="Companyname" ng-model="vm.companyname">
          </div>
        </div>

        <div class="form-group">

          <label for="Email">Email <em>* Required</em></label>
          <input type="text" class="form-control" placeholder="Email" name="email" ng-model="vm.email" required>

          <!-- error -->
          <span class="position-absolute contact-us-error" ng-show="vm.myForm.email.$dirty && vm.myForm.email.$invalid"
            ng-hide="vm.hideError">
            <span ng-show="vm.myForm.email.$error.required">e-Mail is required.</span>
          </span>
          <!--/.error-->

        </div>

        <div class="form-group">
          <label for="Phone">Phone <em>* Required</em></label>
          <input type="text" class="form-control" placeholder="Phone" name="phone" ng-model="vm.phone" required>

          <!-- error -->
          <span class="position-absolute contact-us-error" ng-show="vm.myForm.phone.$dirty && vm.myForm.phone.$invalid"
            ng-hide="vm.hideError">
            <span ng-show="vm.myForm.phone.$error.required">Phone is required.</span>
          </span>
          <!--/.error-->
        </div>

        <div class="form-group">
          <label for="Message">Message <em>* Required</em> <label class="pull-right">Remaining characters -
              {{1000 - vm.message.length}} </label></label>

          <textarea type="text" class="form-control" placeholder="Message" name="message" ng-model="vm.message" rows="6"
            ng-minlength="5" ng-maxlength="1000" required></textarea>


          <!-- error -->
          <span class="position-absolute contact-us-error" ng-show="vm.myForm.message.$dirty && vm.myForm.message.$invalid"
            ng-hide="vm.hideError">
            <span ng-show="vm.myForm.message.$error.required">Message is required.</span>
          </span>
          <span class="position-absolute contact-us-error" ng-show="vm.myForm.message.$error.minlength">
            <span>Message must be minimum 5 characters long.</span>
          </span>
          <!--/.error-->
        </div>

        <button type="submit" class="btn orange-bg" ng-click="vm.contactUs()" ng-disabled="(vm.myForm.username.$dirty && vm.myForm.username.$invalid || vm.myForm.username.$pristine) 
      
      || (vm.myForm.email.$dirty && vm.myForm.email.$invalid || vm.myForm.email.$pristine)

      || (vm.myForm.phone.$dirty && vm.myForm.phone.$invalid || vm.myForm.phone.$pristine)

      || (vm.myForm.message.$dirty && vm.myForm.message.$invalid || vm.myForm.message.$pristine)

      || (vm.myForm.message.$error.minlength && vm.myForm.message.$error.maxlength)
      ">Submit</button>

      </form>
      <!-- ./form -->

    </div>

  </div>

  <!-- error block -->
  <div class="alert alert-danger position-fixed bottom-right" role="alert" ng-if="vm.error">
    Error!
  </div>
  <!-- ./error block -->

  <!-- success block -->
  <div class="alert alert-success position-fixed bottom-right" role="alert" ng-if="vm.success">
    Thank you for sending us your request!
  </div>
  <!-- ./success block -->
</div>