<div class="category orange-bg pt-5 pb-5 mb-5">
  <h1>HOLO-KROME SILICON BRONZE HEX CAP SCREWS</h1>
</div>

<div class="container-fluid">
  <div class="inner-container mt-5 mb-5">

    <div class="category-description mb-3">
      <h1>Hex Cap Screws</h1>
      <p>Holo-Krome</p>
      <p>Alloy 651, 655 or 661 Silicon Bronze</p>
    </div>

    <div class="category-description mb-5">
      <h1>Unified National Round Coarse/Fine</h1>
      <p>H410 — UNRC Silicon Bronze</p>
      <p>H420 — UNRF Silicon Bronze</p>
    </div>

    <div class="table-responsive mb-5">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th colspan="9">UNRC</th>
          </tr>
          <tr>
            <th colspan="2">Diameter d</th>
            <th>1/4-20</th>
            <th>5/16-18</th>
            <th>3/8-16</th>
            <th>7/16-14</th>
            <th>1/2-13</th>
            <th>5/8-11</th>
            <th>3/4-10</th>
          </tr>
          <tr>
            <th colspan="2">Diameter Code</th>
            <th>014</th>
            <th>016</th>
            <th>018</th>
            <th>020</th>
            <th>024</th>
            <th>026</th>
            <th>028</th>
          </tr>
          <tr>
            <th colspan="2">S min.</th>
            <th>0.428</th>
            <th>0.489</th>
            <th>0.551</th>
            <th>0.612</th>
            <th>0.736</th>
            <th>0.922</th>
            <th>1.1</th>
          </tr>
          <tr>
            <th colspan="2">max.</th>
            <th>0.438</th>
            <th>0.5</th>
            <th>0.562</th>
            <th>0.625</th>
            <th>0.75</th>
            <th>0.938</th>
            <th>1.125</th>
          </tr>
          <tr>
            <th colspan="2">k min.</th>
            <th>0.15</th>
            <th>0.195</th>
            <th>0.226</th>
            <th>0.272</th>
            <th>0.302</th>
            <th>0.378</th>
            <th>0.455</th>
          </tr>
          <tr>
            <th colspan="2">max.</th>
            <th>0.163</th>
            <th>0.211</th>
            <th>0.243</th>
            <th>0.291</th>
            <th>0.323</th>
            <th>0.403</th>
            <th>0.483</th>
          </tr>
          <tr>
            <th>Length</th>
            <th>Code</th>
            <th colspan="7">* =&nbsp;Available upon request</th>
          </tr>
        </thead>
        <colgroup>
          <col style="width: 151px;">
          <col style="width: 106px;">
          <col style="width: 141px;">
          <col style="width: 163px;">
          <col style="width: 141px;">
          <col style="width: 163px;">
          <col style="width: 142px;">
          <col style="width: 142px;">
          <col style="width: 143px;">
        </colgroup>
        <colgroup span="2">
          <col>
          <col>
          <col>
          <col class="coating">
          <col>
          <col class="coating">
          <col>
          <col class="coating">
          <col>
        </colgroup>

        <tbody>
          <tr>
            <td>3/8</td>
            <td>0038</td>
            <td>*</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1/2</td>
            <td>0050</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td></td>
            <td>*</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>5/8</td>
            <td>0063</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td></td>
            <td>*</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>3/4</td>
            <td>0075</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td></td>
            <td>*</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>7/8</td>
            <td>0088</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>0100</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td></td>
          </tr>
          <tr>
            <td>1 1/4</td>
            <td>0125</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td></td>
          </tr>
          <tr>
            <td>1 1/2</td>
            <td>0150</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
          </tr>
          <tr>
            <td>1 3/4</td>
            <td>0175</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td></td>
            <td>*</td>
            <td>*</td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td>0200</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
          </tr>
          <tr>
            <td>2 1/4</td>
            <td>0225</td>
            <td></td>
            <td>*</td>
            <td>*</td>
            <td></td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
          </tr>
          <tr>
            <td>2 1/2</td>
            <td>0250</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
          </tr>
          <tr>
            <td>2 3/4</td>
            <td>0275</td>
            <td></td>
            <td>*</td>
            <td>*</td>
            <td></td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
          </tr>
          <tr>
            <td>3</td>
            <td>0300</td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
            <td></td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
          </tr>
          <tr>
            <td>3 1/4</td>
            <td>0325</td>
            <td></td>
            <td></td>
            <td>*</td>
            <td></td>
            <td>*</td>
            <td>*</td>
            <td></td>
          </tr>
          <tr>
            <td>3 1/2</td>
            <td>0350</td>
            <td></td>
            <td></td>
            <td>*</td>
            <td></td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
          </tr>
          <tr>
            <td>3 3/4</td>
            <td>0375</td>
            <td></td>
            <td></td>
            <td>*</td>
            <td></td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
          </tr>
          <tr>
            <td>4</td>
            <td>0400</td>
            <td></td>
            <td></td>
            <td>*</td>
            <td></td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
          </tr>
          <tr>
            <td>4 1/2</td>
            <td>0450</td>
            <td></td>
            <td></td>
            <td>*</td>
            <td></td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
          </tr>
          <tr>
            <td>4 3/4</td>
            <td>0475</td>
            <td></td>
            <td></td>
            <td>*</td>
            <td></td>
            <td></td>
            <td>*</td>
            <td></td>
          </tr>
          <tr>
            <td>5</td>
            <td>0500</td>
            <td></td>
            <td></td>
            <td>*</td>
            <td></td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
          </tr>
          <tr>
            <td>5 1/2</td>
            <td>0550</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>*</td>
            <td>*</td>
            <td>*</td>
          </tr>
          <tr>
            <td>6</td>
            <td>0600</td>
            <td></td>
            <td></td>
            <td>*</td>
            <td></td>
            <td>*</td>
            <td>*</td>
            <td></td>
          </tr>
          <tr>
            <td>6 1/2</td>
            <td>0650</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>*</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>7</td>
            <td>0700</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>*</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8</td>
            <td>0800</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>*</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8 1/2</td>
            <td>0850</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>*</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="9">Order Number -&gt; 1/4 x 2-1/2 = H410-014-0250 (Diameter Code x Length Code)</td>
          </tr>
        </tbody>
        <fthfoot style="display:table-footer-group;">
          <fthrow style="display:table-row;height:0;">
            <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
            <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
            <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
            <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
            <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
            <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
            <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
            <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
            <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
          </fthrow>
        </fthfoot>
      </table>
    </div>

    <div class="table-responsive mb-5">
      <table class="table">
        <colgroup>
          <col style="width: 239px;">
          <col style="width: 169px;">
          <col style="width: 322px;">
          <col style="width: 281px;">
          <col style="width: 281px;">
        </colgroup>
        <thead class="thead-dark">
          <tr>
            <th colspan="5">UNRF</th>
          </tr>
          <tr>
            <th colspan="2">Diameter d</th>
            <th>5/16-24</th>
            <th>3/8-24</th>
            <th>1/2-20</th>
          </tr>
          <tr>
            <th colspan="2">Diameter Code</th>
            <th>016</th>
            <th>018</th>
            <th>024</th>
          </tr>
          <tr>
            <th colspan="2">S min.</th>
            <th>0.489</th>
            <th>0.551</th>
            <th>0.736</th>
          </tr>
          <tr>
            <th colspan="2">max.</th>
            <th>0.5</th>
            <th>0.562</th>
            <th>0.75</th>
          </tr>
          <tr>
            <th colspan="2">k min.</th>
            <th>0.195</th>
            <th>0.226</th>
            <th>0.302</th>
          </tr>
          <tr>
            <th colspan="2">max.</th>
            <th>0.211</th>
            <th>0.243</th>
            <th>0.323</th>
          </tr>
          <tr>
            <th>Length</th>
            <th>Code</th>
            <th colspan="3">* = * =&nbsp;Available upon request</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>3/4</td>
            <td>0075</td>
            <td>*</td>
            <td>*</td>
            <td></td>
          </tr>
          <tr>
            <td>7/8</td>
            <td>0088</td>
            <td></td>
            <td>*</td>
            <td></td>
          </tr>
          <tr>
            <td>1 1/2</td>
            <td>0150</td>
            <td></td>
            <td>*</td>
            <td></td>
          </tr>
          <tr>
            <td>2 3/4</td>
            <td>0275</td>
            <td></td>
            <td>*</td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>0300</td>
            <td></td>
            <td></td>
            <td>*</td>
          </tr>
          <tr>
            <td colspan="5">Order Number -&gt; 1/2 x 3 = H420-014-0300 (Diameter Code x Length Code)</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mb-0">
      <p>Mechanical Requirements: Wedge tensile tested in accordance with ASTM F468 to 50,000 psi minimum.</p>
      <p>Thread Requirements: ASME B1.1, UNC &amp; UNF, Class 2A. Thread acceptance per 6.5.1.4 of ASTM F788.</p>
    </div>

  </div>
</div>