<div class="table-responsive">
  <table class="table" style="table-layout: auto;">
    <thead>
      <tr>
        <th style="text-align: center;" colspan="12"><strong>UNRC</strong></th>
      </tr>
      <tr>
        <th colspan="2">Diameter d</th>
        <th>1/4-20</th>
        <th>5/16-18</th>
        <th>3/8-16</th>
        <th>7/16-14</th>
        <th>1/2-13</th>
        <th>9/16-12</th>
        <th>5/8-11</th>
        <th>3/4-10</th>
        <th>7/8-9</th>
        <th>1-8</th>
      </tr>
      <tr>
        <th colspan="2">Diameter Code</th>
        <th>014</th>
        <th>016</th>
        <th>018</th>
        <th>020</th>
        <th>024</th>
        <th>025</th>
        <th>026</th>
        <th>028</th>
        <th>030</th>
        <th>034</th>
      </tr>
      <tr>
        <th style="height: 25px;">Length</th>
        <th style="height: 25px;">Code</th>
        <th style="height: 25px;" colspan="10">* = Stocked (Sold in bulk quantities)</th>
      </tr>
    </thead>
    <colgroup>
      <col style="width: 118px;">
      <col style="width: 82px;">
      <col style="width: 109px;">
      <col style="width: 126px;">
      <col style="width: 110px;">
      <col style="width: 127px;">
      <col style="width: 110px;">
      <col style="width: 127px;">
      <col style="width: 110px;">
      <col style="width: 110px;">
      <col style="width: 95px;">
      <col style="width: 68px;">
    </colgroup>
    <colgroup span="2">
      <col>
      <col>
      <col>
      <col class="coating">
      <col>
      <col class="coating">
      <col>
      <col class="coating">
      <col>
      <col class="coating">
      <col>
      <col class="coating">
    </colgroup>

    <tbody>
      <tr>
        <td>1/2</td>
        <td>0050</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>3/4</td>
        <td>0075</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>1</td>
        <td>0100</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>1 1/4</td>
        <td>0125</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>1 1/2</td>
        <td>0150</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>1 3/4</td>
        <td>0175</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>2</td>
        <td>0200</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>2 1/4</td>
        <td>0225</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>2 1/2</td>
        <td>0250</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>2 3/4</td>
        <td>0275</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>3</td>
        <td>0300</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>3 1/4</td>
        <td>0325</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>3 1/2</td>
        <td>0350</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>4</td>
        <td>0400</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>4 1/2</td>
        <td>0450</td>
        <td></td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>5</td>
        <td>0500</td>
        <td></td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>5 1/2</td>
        <td>0550</td>
        <td></td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>6</td>
        <td>0600</td>
        <td></td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>7</td>
        <td>0700</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>8</td>
        <td>0800</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>9</td>
        <td>0900</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>10</td>
        <td>1000</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>11</td>
        <td>1100</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>12</td>
        <td>1200</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td style="text-align: center;" colspan="12">Order Number -&gt; 1/4 x 2-1/2 = H418-014-0250 (Diameter Code x
          Length Code)</td>
      </tr>
    </tbody>
    <fthfoot style="display:table-footer-group;">
      <fthrow style="display:table-row;height:0;">
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      </fthrow>
    </fthfoot>
  </table>
</div>

<div class="table-responsive">
  <table class="table" style="table-layout: auto;">
    <thead>
      <tr>
        <th style="text-align: center;" colspan="12"><strong><a name="fine"></a>UNRF</strong></th>
      </tr>
      <tr>
        <th colspan="2">Diameter d</th>
        <th>1/4-28</th>
        <th>5/16-24</th>
        <th>3/8-24</th>
        <th>7/16-20</th>
        <th>1/2-20</th>
        <th>9/16-18</th>
        <th>5/8-18</th>
        <th>3/4-16</th>
        <th>7/8-14</th>
        <th>1-14</th>
      </tr>
      <tr>
        <th colspan="2">Diameter Code</th>
        <th>014</th>
        <th>016</th>
        <th>018</th>
        <th>020</th>
        <th>024</th>
        <th>025</th>
        <th>026</th>
        <th>028</th>
        <th>030</th>
        <th>034</th>
      </tr>
      <tr>
        <th>Length</th>
        <th>Code</th>
        <th colspan="10">* = Stocked (Sold in bulk quantities)</th>
      </tr>
    </thead>
    <colgroup>
      <col style="width: 115px;">
      <col style="width: 80px;">
      <col style="width: 107px;">
      <col style="width: 124px;">
      <col style="width: 108px;">
      <col style="width: 124px;">
      <col style="width: 108px;">
      <col style="width: 124px;">
      <col style="width: 108px;">
      <col style="width: 108px;">
      <col style="width: 108px;">
      <col style="width: 78px;">
    </colgroup>
    <colgroup span="2">
      <col>
      <col>
      <col>
      <col class="coating">
      <col>
      <col class="coating">
      <col>
      <col class="coating">
      <col>
      <col class="coating">
      <col>
      <col class="coating">
    </colgroup>

    <tbody>
      <tr>
        <td>1/2</td>
        <td>0050</td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>3/4</td>
        <td>0075</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>1</td>
        <td>0100</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>1 1/4</td>
        <td>0125</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>1 1/2</td>
        <td>0150</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>1 3/4</td>
        <td>0175</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td>0200</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td></td>
      </tr>
      <tr>
        <td>2 1/4</td>
        <td>0225</td>
        <td></td>
        <td></td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>2 1/2</td>
        <td>0250</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>2 3/4</td>
        <td>0275</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td>0300</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>3 1/2</td>
        <td>0350</td>
        <td></td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>4</td>
        <td>0400</td>
        <td></td>
        <td></td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>4 1/2</td>
        <td>0450</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>5</td>
        <td>0500</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>5 1/2</td>
        <td>0550</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>6</td>
        <td>0600</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>7</td>
        <td>0700</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>8</td>
        <td>0800</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>9</td>
        <td>0900</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>10</td>
        <td>1000</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>11</td>
        <td>1100</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td>12</td>
        <td>1200</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
      </tr>
      <tr>
        <td style="text-align: center;" colspan="12">Order Number -&gt; 1/4 x 2-1/2 = H428-014-0250 (Diameter Code x
          Length Code)</td>
      </tr>
    </tbody>
    <fthfoot style="display:table-footer-group;">
      <fthrow style="display:table-row;height:0;">
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      </fthrow>
    </fthfoot>
  </table>
</div>

<h1><strong><a name="productspec"></a>TOUGH gets TOUGHER</strong></h1>
<p>HOLO-KROME introduces its lineup of MADE IN THE USA Grade 9 products. Heavy&nbsp;machinery and equipment are often
  subject to some of the harshest conditions,&nbsp;both environmental and fatigue. Not only are these pieces of
  equipment designed&nbsp;to withstand these conditions, the fasteners used in assembly should be of
  equal&nbsp;strength. HOLO-KROME prides itself in manufacturing a line of world-class, 100%&nbsp;domestically
  manufactured, Grade 9 Hex Cap Screws, completely capable of out performing&nbsp;the competition.</p>
<h1><strong>PRODUCT SPECIFICATIONS</strong></h1>
<ul>
  <li>180,000psi tensile (similar to ASTM A574)</li>
  <li>1000-hour EcoGuard™ Coating</li>
  <li>Consistent Torque-Tension Relationship</li>
  <li>No risk of hydrogen embrittlement</li>
  <li>1-to-1 replacement for current offering with improved corrosion resistance<br>
    performance</li>
  <li>Holo-Krome Quality</li>
  <li>Full Stocking Product Line offering (10 diameters standard, 265 skus)</li>
  <li>DFARS Compliant / 100% USA Melt</li>
  <li>RoHS, ELV and REACH Compliant</li>
</ul>
<h1><strong>TARGET INDUSTRIES &amp; APPLICATIONS:</strong></h1>
<ul>
  <li>Construction</li>
  <li>Forestry</li>
  <li>Transportation</li>
  <li>Agriculture</li>
  <li>Machine Builders</li>
  <li>Foundries</li>
  <li>Underground Earth Moving Equipment</li>
  <li>Cranes &amp; Rigging</li>
  <li>Highway Signage</li>
  <li>Wastewater Processing Plants</li>
</ul>