<table class="stocking" style="table-layout: auto;">
  <thead>
    <tr>
      <th rowspan="2">For Screw</th>
      <th style="height: 30px;" colspan="2">d<sub>1</sub></th>
      <th rowspan="2">d<sub>2</sub></th>
      <th rowspan="2">b</th>
      <th rowspan="2">s</th>
      <th rowspan="2">Pkg.</th>
      <th rowspan="2">Order #</th>
    </tr>
    <tr>
      <th>min.</th>
      <th>max</th>
    </tr>
  </thead>
  <colgroup>
    <col style="width: 230px;">
    <col style="width: 133px;">
    <col style="width: 133px;">
    <col style="width: 133px;">
    <col style="width: 109px;">
    <col style="width: 109px;">
    <col style="width: 117px;">
    <col style="width: 328px;">
  </colgroup>

  <tbody>
    <tr>
      <td>#10</td>
      <td>0.193</td>
      <td>0.200</td>
      <td>0.294</td>
      <td>.042</td>
      <td>.047</td>
      <td>100</td>
      <td>W365-010-0000</td>
    </tr>
    <tr>
      <td>1/4</td>
      <td>0.252</td>
      <td>0.260</td>
      <td>0.363</td>
      <td>.047</td>
      <td>.078</td>
      <td>100</td>
      <td>W365-014-0000</td>
    </tr>
    <tr>
      <td>5/16</td>
      <td>0.314</td>
      <td>0.322</td>
      <td>0.457</td>
      <td>.062</td>
      <td>.093</td>
      <td>100</td>
      <td>W365-016-0000</td>
    </tr>
    <tr>
      <td>3/8</td>
      <td>0.377</td>
      <td>0.385</td>
      <td>0.550</td>
      <td>.076</td>
      <td>.125</td>
      <td>100</td>
      <td>W365-018-0000</td>
    </tr>
    <tr>
      <td>7/16</td>
      <td>0.440</td>
      <td>0.450</td>
      <td>0.644</td>
      <td>.090</td>
      <td>.140</td>
      <td>100</td>
      <td>W365-020-0000</td>
    </tr>
    <tr>
      <td>1/2</td>
      <td>0.502</td>
      <td>0.512</td>
      <td>0.733</td>
      <td>.103</td>
      <td>.172</td>
      <td>100</td>
      <td>W365-024-0000</td>
    </tr>
    <tr>
      <td>5/8</td>
      <td>0.628</td>
      <td>0.641</td>
      <td>0.917</td>
      <td>.125</td>
      <td>.203</td>
      <td>100</td>
      <td>W365-026-0000</td>
    </tr>
    <tr>
      <td>3/4</td>
      <td>0.753</td>
      <td>0.766</td>
      <td>1.105</td>
      <td>.154</td>
      <td>.218</td>
      <td>100</td>
      <td>W365-028-0000</td>
    </tr>
    <tr>
      <td>7/8</td>
      <td>0.878</td>
      <td>0.894</td>
      <td>1.291</td>
      <td>.182</td>
      <td>.234</td>
      <td>100</td>
      <td>W365-030-0000</td>
    </tr>
    <tr>
      <td>1</td>
      <td>1.003</td>
      <td>1.024</td>
      <td>1.478</td>
      <td>.208</td>
      <td>.250</td>
      <td>100</td>
      <td>W365-034-0000</td>
    </tr>
  </tbody>
  <fthfoot style="display:table-footer-group;">
    <fthrow style="display:table-row;height:0;">
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
    </fthrow>
  </fthfoot>
</table>
<div class="note"><span style="color: #333333;">*NOTE: Outer diamter is suitable for countersinking&nbsp;<em><a
        style="color: #ff0000; text-decoration: underline;"
        href="https://www.fullerfasteners.com/products/imperial-socket-cap-screws/">imperial socket cap
        screws</a></em></span></div>