<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/">kizfasteners</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!/">Home</a></li>
        <li><a href="#!/aboutus">About Us</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Metric Fasteners<span class="caret"></span></a>
          <div class="dropdown-menu">

            <div class="col-md-6">
              <h1>DIN 931 / ISO 4014 Partially Threaded Hex Cap Screw</h1>
              <ul>
                <li><a href="#!/8-8-Grade-Bare-Steel-Zinc-Plated">8.8 Grade Bare Steel / Zinc Plated</a></li>
                <li><a href="#!/8-8-Grade-Hot-Dip-Galvanized-ISO-FIT">8.8 Grade Hot Dip Galvanized (ISO FIT)</a></li>
                <li><a href="#!/10-9-Grade-Bare-Steel-Yellow-Zinc-Plated">10.9 Grade Bare Steel / Yellow Zinc Plated</a></li>
                <li><a href="#!/10-9-Grade-Bare-Steel-with-Extended-Threads">10.9 Grade Bare Steel with Extended Threads</a></li>
                <li><a href="#!/12-9-Grade-Bare-Steel">12.9 Grade Bare Steel</a></li>
                <li><a href="#!/A2-A4-Stainless-Steel">A2/A4 Stainless Steel</a></li>
              </ul>
            </div>

            <div class="col-md-6">
                <h1>DIN 933 / ISO 4017 Fully Threaded Hex Cap Screw</h1>
                <ul>
                  <li><a href="#!/8-8-Grade-Bare-Steel-Zinc-Plated">8.8 Grade Bare Steel / Zinc Plated</a></li>
                  <li><a href="#!/8-8-Grade-Hot-Dip-Galvanized-ISO-FIT">8.8 Grade Hot Dip Galvanized (ISO FIT)</a></li>
                  <li><a href="#!/10-9-Grade-Bare-Steel-Yellow-Zinc-Plated">10.9 Grade Bare Steel</a></li>
                  <li><a href="#!/12-9-Grade-Bare-Steel">12.9 Grade Bare Steel</a></li>
                  <li><a href="#!/A2-A4-Stainless-Steel">A2/A4 Stainless Steel</a></li>
                  <li><a href="#!/Brass">Brass</a></li>
                </ul>
              </div>
              
          </div>
        </li>
        <li><a href="#!/distributors">Distributors</a></li>
        <li><a href="#!/contactus">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="banner">  

  <div class="banner-content">
    <h1>kizfasteners</h1>
    <h2>Cutomer satisfaction is our highest priority</h2>
  </div>
</div>