<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/">kizfasteners</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!/">Home</a></li>
        <li><a href="#!/aboutus">About Us</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle-j">Metric Fasteners <span class="caret"></span></a>
          <div class="dropdown-menu">

            <!-- Hex Head Fasteners -->
            <!-- <div class="sub-dropdown-heading">
              <h1>Hex Head Fasteners <i class="fa fa-angle-down pull-right"></i></h1>
              <div class="sub-dropdown active">

                <div class="row">

                  <div class="col-md-6">
                    <h2>DIN 931 / ISO 4014 Partially Threaded Hex Cap Screw</h2>
                    <ul>
                      <li><a href="#!/8-8-Grade-Bare-Steel-Zinc-Plated">8.8 Grade Bare Steel / Zinc Plated</a></li>
                      <li><a href="#!/8-8-Grade-Hot-Dip-Galvanized-ISO-FIT">8.8 Grade Hot Dip Galvanized (ISO FIT)</a>
                      </li>
                      <li><a href="#!/10-9-Grade-Bare-Steel-Yellow-Zinc-Plated">10.9 Grade Bare Steel / Yellow Zinc
                          Plated</a>
                      </li>
                      <li><a href="#!/10-9-Grade-Bare-Steel-with-Extended-Threads">10.9 Grade Bare Steel with Extended
                          Threads</a></li>
                      <li><a href="#!/12-9-Grade-Bare-Steel">12.9 Grade Bare Steel</a></li>
                      <li><a href="#!/A2-A4-Stainless-Steel">A2/A4 Stainless Steel</a></li>
                    </ul>
                  </div>

                  <div class="col-md-6">
                    <h2>DIN 933 / ISO 4017 Fully Threaded Hex Cap Screw</h2>
                    <ul>
                      <li><a href="#!/8-8-Grade-Bare-Steel-Zinc-Plated">8.8 Grade Bare Steel / Zinc Plated</a></li>
                      <li><a href="#!/8-8-Grade-Hot-Dip-Galvanized-ISO-FIT">8.8 Grade Hot Dip Galvanized (ISO FIT)</a>
                      </li>
                      <li><a href="#!/10-9-Grade-Bare-Steel-Yellow-Zinc-Plated">10.9 Grade Bare Steel</a></li>
                      <li><a href="#!/12-9-Grade-Bare-Steel">12.9 Grade Bare Steel</a></li>
                      <li><a href="#!/A2-A4-Stainless-Steel">A2/A4 Stainless Steel</a></li>
                      <li><a href="#!/Brass">Brass</a></li>
                    </ul>
                  </div>

                </div>

                <div class="row">

                  <div class="col-md-6">
                    <h2>DIN 960 / ISO 8765 Partially Threaded Hex Cap Screw (Fine Thread)</h2>
                    <ul>
                      <li><a href="#!/8-8-Grade-Bare-Zinc-1st-fine">8.8 Grade Bare/Zinc (1st Fine)</a></li>
                      <li><a href="#!/8-8-Grade-Bare-Zinc-2nd-fine">8.8 Grade Bare/Zinc (2nd Fine)</a></li>
                      <li><a href="#!/10-9-Grade-Bare-Zinc-1st-fine">10.9 Grade Bare/Zinc (1st Fine)</a></li>
                      <li><a href="#!/10-9-Grade-Bare-2nd-fine">10.9 Grade Bare (2nd Fine)</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h2>DIN 961 / ISO 8676 Fully Threaded Hex Cap Screw (Fine Thread)</h2>
                    <ul>
                      <li><a href="#!/8-8-Grade-Bare-Zinc-1st-fine">8.8 Grade Bare/Zinc (1st Fine)</a></li>
                      <li><a href="#!/8-8-Grade-Bare-Zinc-2nd-fine">8.8 Grade Bare/Zinc (2nd Fine)</a></li>
                      <li><a href="#!/10-9-Grade-Bare-Zinc-1st-fine">10.9 Grade Bare/Zinc (1st Fine)</a></li>
                      <li><a href="#!/10-9-Grade-Bare-2nd-fine">10.9 Grade Bare (2nd Fine)</a></li>
                    </ul>
                  </div>

                </div>

                <div class="row">

                  <div class="col-md-6">
                    <h2>DIN 6921 Hex Flange Bolt (Non-Serrated)</h2>
                    <ul>
                      <li><a href="#!/10-9-Grade-Yellow-Zinc-Plated">10.9 Grade Yellow Zinc Plated</a></li>
                    </ul>
                  </div>

                  <div class="col-md-6">
                    <h2>Japanese Industrial Standard (JIS) Hex Fasteners</h2>
                    <ul>
                      <li><a href="#!/JIS-B1180-8-8-Small-Head-Zinc-Plated">JIS B1180-8.8 Small Head Zinc Plated</a>
                      </li>
                      <li><a href="#!/JIS-B1189-10-9-Small-Head-Hex-Flange-Zinc-Plated">JIS B1189-10.9 Small Head Hex
                          Flange
                          Zinc Plated</a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div> -->

            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Hex Head Fasteners</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse ">
                  <div class="panel-body">
                    <div class="row">

                      <div class="col-md-6">
                        <h2>DIN 931 / ISO 4014 Partially Threaded Hex Cap Screw</h2>
                        <ul>
                          <li><a href="#!/8-8-Grade-Bare-Steel-Zinc-Plated">8.8 Grade Bare Steel / Zinc Plated</a></li>
                          <li><a href="#!/8-8-Grade-Hot-Dip-Galvanized-ISO-FIT">8.8 Grade Hot Dip Galvanized (ISO
                              FIT)</a>
                          </li>
                          <li><a href="#!/10-9-Grade-Bare-Steel-Yellow-Zinc-Plated">10.9 Grade Bare Steel / Yellow Zinc
                              Plated</a>
                          </li>
                          <li><a href="#!/10-9-Grade-Bare-Steel-with-Extended-Threads">10.9 Grade Bare Steel with
                              Extended
                              Threads</a></li>
                          <li><a href="#!/12-9-Grade-Bare-Steel">12.9 Grade Bare Steel</a></li>
                          <li><a href="#!/A2-A4-Stainless-Steel">A2/A4 Stainless Steel</a></li>
                        </ul>
                      </div>

                      <div class="col-md-6">
                        <h2>DIN 933 / ISO 4017 Fully Threaded Hex Cap Screw</h2>
                        <ul>
                          <li><a href="#!/8-8-Grade-Bare-Steel-Zinc-Plated">8.8 Grade Bare Steel / Zinc Plated</a></li>
                          <li><a href="#!/8-8-Grade-Hot-Dip-Galvanized-ISO-FIT">8.8 Grade Hot Dip Galvanized (ISO
                              FIT)</a>
                          </li>
                          <li><a href="#!/10-9-Grade-Bare-Steel-Yellow-Zinc-Plated">10.9 Grade Bare Steel</a></li>
                          <li><a href="#!/12-9-Grade-Bare-Steel">12.9 Grade Bare Steel</a></li>
                          <li><a href="#!/A2-A4-Stainless-Steel">A2/A4 Stainless Steel</a></li>
                          <li><a href="#!/Brass">Brass</a></li>
                        </ul>
                      </div>

                    </div>

                    <div class="row">

                      <div class="col-md-6">
                        <h2>DIN 960 / ISO 8765 Partially Threaded Hex Cap Screw (Fine Thread)</h2>
                        <ul>
                          <li><a href="#!/8-8-Grade-Bare-Zinc-1st-fine">8.8 Grade Bare/Zinc (1st Fine)</a></li>
                          <li><a href="#!/8-8-Grade-Bare-Zinc-2nd-fine">8.8 Grade Bare/Zinc (2nd Fine)</a></li>
                          <li><a href="#!/10-9-Grade-Bare-Zinc-1st-fine">10.9 Grade Bare/Zinc (1st Fine)</a></li>
                          <li><a href="#!/10-9-Grade-Bare-2nd-fine">10.9 Grade Bare (2nd Fine)</a></li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <h2>DIN 961 / ISO 8676 Fully Threaded Hex Cap Screw (Fine Thread)</h2>
                        <ul>
                          <li><a href="#!/8-8-Grade-Bare-Zinc-1st-fine">8.8 Grade Bare/Zinc (1st Fine)</a></li>
                          <li><a href="#!/8-8-Grade-Bare-Zinc-2nd-fine">8.8 Grade Bare/Zinc (2nd Fine)</a></li>
                          <li><a href="#!/10-9-Grade-Bare-Zinc-1st-fine">10.9 Grade Bare/Zinc (1st Fine)</a></li>
                          <li><a href="#!/10-9-Grade-Bare-2nd-fine">10.9 Grade Bare (2nd Fine)</a></li>
                        </ul>
                      </div>

                    </div>

                    <div class="row">

                      <div class="col-md-6">
                        <h2>DIN 6921 Hex Flange Bolt (Non-Serrated)</h2>
                        <ul>
                          <li><a href="#!/10-9-Grade-Yellow-Zinc-Plated">10.9 Grade Yellow Zinc Plated</a></li>
                        </ul>
                      </div>

                      <div class="col-md-6">
                        <h2>Japanese Industrial Standard (JIS) Hex Fasteners</h2>
                        <ul>
                          <li><a href="#!/JIS-B1180-8-8-Small-Head-Zinc-Plated">JIS B1180-8.8 Small Head Zinc Plated</a>
                          </li>
                          <li><a href="#!/JIS-B1189-10-9-Small-Head-Hex-Flange-Zinc-Plated">JIS B1189-10.9 Small Head
                              Hex
                              Flange
                              Zinc Plated</a></li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Socket Head Fasteners</a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">

                      <div class="col-md-6">
                        <h2>DIN 912 / ISO 4762 Socket Head Cap Screws</h2>
                        <ul>
                          <li><a href="#!/8-8-Grade-Bare-Steel-Zinc-Plated">8.8 Grade Bare Steel/Zinc Plated</a></li>
                          <li><a href="#!/12-9-Grade-Bare-Steel-Zinc-Plated">12.9 Grade Bare Steel/Zinc Plated</a></li>
                          <li><a href="#!/12-9-Grade-Bare-Steel-FINE-Thread">12.9 Grade Bare Steel FINE Thread</a></li>
                          <li><a href="#!/A2-A4-Stainless-Steel">A2 A4 Stainless Steel</a></li>
                        </ul>
                      </div>

                      <div class="col-md-6">
                        <h2>DIN-7991-ISO-10642-Flat-Head-Countersunk-Socket</h2>
                        <ul>
                          <li><a href="#!/10-9-Grade-Bare-Steel-Zinc-Plated-Shoulder-Bolt">10.9 Grade Bare Steel/Zinc
                              Plated</a></li>
                          <li><a href="#!/A2-Stainless-Steel-Shoulder-Bolt">A2/A4 Stainless Steel</a></li>
                        </ul>
                      </div>

                      <div class="col-md-6">
                        <h2>ISO 7380 Button Head Socket</h2>
                        <ul>
                          <li><a href="#!/10-9-Grade-Bare-Steel-Zinc-Plated-Head-Socket">10.9 Grade Bare Steel/Zinc
                              Plated</a></li>
                          <li><a href="#!/A2-Stainless-Steel-Head-Socket">A2 Stainless Steel</a></li>
                        </ul>
                      </div>

                      <div class="col-md-6">
                        <h2>ISO 7379 Shoulder Bolt</h2>
                        <ul>
                          <li><a href="#!/10-9-Grade-Bare-Steel-Zinc-Plated-Shoulder-Bolt">10.9 Grade Bare Steel/Zinc
                              Plated</a></li>
                          <li><a href="#!/A2-Stainless-Steel-Shoulder-Bolt">A2 Stainless Steel</a></li>
                        </ul>
                      </div>

                      <div class="col-md-6">
                        <h2>Set Screws</h2>
                        <ul>
                          <li><a href="#!/DIN-913-Flat-Point">DIN 913 Flat Point</a></li>
                          <li><a href="#!/DIN-914-Cone-Point">DIN 914 Cone Point</a></li>
                          <li><a href="#!/DIN-915-Dog-Point">DIN 915 Dog Point</a></li>
                          <li><a href="#!/DIN-916-ISO-4029-Cup-Point">DIN 916 / ISO 4029 Cup Point</a></li>
                          <li><a href="#!/A2-A4-Stainless-Steel">A2/A4 Stainless Steel</a></li>
                          <li><a href="#!/DIN-479-8-8-Square-Head">DIN 479-8.8 Square Head</a></li>
                        </ul>
                      </div>

                      <div class="col-md-6">
                        <h2>Low Head Socket Cap Screws</h2>
                        <ul>
                          <li><a href="#!/DIN-6912-8-8-Bare-Steel-with-Guide-Point">DIN 6912-8.8 Bare Steel with Guide
                              Point</a></li>
                          <li><a href="#!/DIN-7984-8-8-Bare-Steel">DIN 7984-8.8 Bare Steel</a></li>
                          <li><a href="#!/DIN-7984-10-9-Bare-Steel">DIN 7984-10.9 Bare Steel</a></li>
                          <li><a href="#!/DIN-7984-A2-Stainless-Steel">DIN 7984-A2 Stainless Steel</a></li>
                        </ul>
                      </div>

                      <div class="col-md-6">
                        <h2>Keys</h2>
                        <ul>
                          <li><a href="#!/DIN-911-ISO-2936-Short-Arm-Chrome-Vanadium">DIN 911 / ISO 2936 Short Arm
                              Chrome
                              Vanadium</a></li>
                          <li><a href="#!/DIN-911-ISO-2936-Long-Arm-Chrome-Vanadium">DIN 911 / ISO 2936 Long Arm Chrome
                              Vanadium</a></li>
                          <li><a href="#!/DIN-6911-Guide-Point-Chrome-Vanadium">DIN 6911 Guide Point Chrome Vanadium</a>
                          </li>
                        </ul>

                      </div>

                      <div class="col-md-6">
                        <h2>Plugs</h2>
                        <ul>
                          <li><a href="#!/DIN-906-Hexagon-Socket-Pipe-Plug">DIN 906 Hexagon Socket Pipe Plug</a></li>
                          <li><a href="#!/DIN-908-Hexagon-Socket-Screw-Plug">DIN 908 Hexagon Socket Screw Plug</a></li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Washer</a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">

                      <div class="col-md-6">
                        <h2>Flat Washer</h2>
                        <ul>
                          <li><a href="#!/Flat-Washers-by-ID-OD-and-Thickness">Flat Washers by I.D./O.D. and
                              Thickness</a></li>
                          <li><a href="#!/DIN-125-ISO-7089-7090-Bare-Steel-Zinc-Plated">DIN 125 / ISO 7089,7090 Bare
                              Steel/Zinc Plated</a></li>
                          <li><a href="#!/DIN-125-ISO-7089-7090-A2-A4-Stainless-Steel">DIN 125 / ISO 7089,7090 A2/A4
                              Stainless Steel</a></li>
                          <li><a href="#!/DIN-125-ISO-7089-7090-A2-A4-Stainless-Steel">DIN 125 / ISO 7089,7090 Brass</a>
                          </li>
                          <li><a href="#!/DIN-126-Bare-Steel-Hot-Dipped-Galvanized-ISO-FIT">DIN 126 Bare Steel/Hot
                              Dipped Galvanized (ISO FIT)</a>
                          </li>
                          <li><a href="#!/DIN-433-Small-O-D-Zinc-Plated">DIN 433 Small O.D. Zinc Plated</a>
                          </li>
                          <li><a href="#!/DIN-433-Small-O-D-A2-A4-Stainless-Steel">DIN 433 Small O.D. A2/A4 Stainless
                              Steel</a>
                          </li>
                          <li><a href="#!/DIN-1440-For-Clevis-Pins-Bare-Steel-Zinc-Plated">DIN 1440 For Clevis Pins Bare
                              Steel/Zinc Plated</a>
                          </li>
                          <li><a href="#!/DIN-6916HV-10-Structural-Bare-Steel-Yellow-Zinc-Plated">DIN 6916HV-10
                              Structural Bare Steel/Yellow Zinc Plated</a>
                          </li>
                          <li><a href="#!/DIN-7349-Thick-Zinc-Plated">DIN 7349 Thick Zinc Plated</a></li>
                          <li><a href="#!/DIN-7603-Sealing-Copper-Aluminum">DIN 7603 Sealing Copper/Aluminum</a></li>
                          <li><a href="#!/DIN-7989-Extra-Thick-Zinc-Plated">DIN 7989 Extra Thick Zinc Plated</a></li>

                          <li><a href="#!/DIN-9021B-Fender-Zinc-Plated">DIN 9021B Fender Zinc Plated</a></li>
                          <li><a href="#!/DIN-9021B-Fender-A2-A4-Stainless-Steel">DIN 9021B Fender A2/A4 Stainless
                              Steel</a></li>
                          <li><a href="#!/Large-O-D-Car-Body-Zinc-Plated">Large O.D. (Car Body) Zinc Plated</a>
                          </li>


                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Socket Head Fasteners -->
            <!-- <div class="sub-dropdown-heading">
              <h1>Socket Head Fasteners <i class="fa fa-angle-down pull-right"></i></h1>
              <div class="sub-dropdown">
                <div class="row">

                  <div class="col-md-6">
                    <h2>DIN 912 / ISO 4762 Socket Head Cap Screws</h2>
                    <ul>
                      <li><a href="#!/8-8-Grade-Bare-Steel-Zinc-Plated">8.8 Grade Bare Steel/Zinc Plated</a></li>
                      <li><a href="#!/12-9-Grade-Bare-Steel-Zinc-Plated">12.9 Grade Bare Steel/Zinc Plated</a></li>
                      <li><a href="#!/12-9-Grade-Bare-Steel-FINE-Thread">12.9 Grade Bare Steel FINE Thread</a></li>
                      <li><a href="#!/A2-A4-Stainless-Steel">A2 A4 Stainless Steel</a></li>
                    </ul>
                  </div>

                  <div class="col-md-6">
                    <h2>DIN-7991-ISO-10642-Flat-Head-Countersunk-Socket</h2>
                    <ul>
                      <li><a href="#!/10-9-Grade-Bare-Steel-Zinc-Plated-Shoulder-Bolt">10.9 Grade Bare Steel/Zinc
                          Plated</a></li>
                      <li><a href="#!/A2-Stainless-Steel-Shoulder-Bolt">A2/A4 Stainless Steel</a></li>
                    </ul>
                  </div>

                  <div class="col-md-6">
                    <h2>ISO 7380 Button Head Socket</h2>
                    <ul>
                      <li><a href="#!/10-9-Grade-Bare-Steel-Zinc-Plated-Head-Socket">10.9 Grade Bare Steel/Zinc
                          Plated</a></li>
                      <li><a href="#!/A2-Stainless-Steel-Head-Socket">A2 Stainless Steel</a></li>
                    </ul>
                  </div>

                  <div class="col-md-6">
                    <h2>ISO 7379 Shoulder Bolt</h2>
                    <ul>
                      <li><a href="#!/10-9-Grade-Bare-Steel-Zinc-Plated-Shoulder-Bolt">10.9 Grade Bare Steel/Zinc
                          Plated</a></li>
                      <li><a href="#!/A2-Stainless-Steel-Shoulder-Bolt">A2 Stainless Steel</a></li>
                    </ul>
                  </div>

                  <div class="col-md-6">
                    <h2>Set Screws</h2>
                    <ul>
                      <li><a href="#!/DIN-913-Flat-Point">DIN 913 Flat Point</a></li>
                      <li><a href="#!/DIN-914-Cone-Point">DIN 914 Cone Point</a></li>
                      <li><a href="#!/DIN-915-Dog-Point">DIN 915 Dog Point</a></li>
                      <li><a href="#!/DIN-916-ISO-4029-Cup-Point">DIN 916 / ISO 4029 Cup Point</a></li>
                      <li><a href="#!/A2-A4-Stainless-Steel">A2/A4 Stainless Steel</a></li>
                      <li><a href="#!/DIN-479-8-8-Square-Head">DIN 479-8.8 Square Head</a></li>
                    </ul>
                  </div>

                  <div class="col-md-6">
                    <h2>Low Head Socket Cap Screws</h2>
                    <ul>
                      <li><a href="#!/DIN-6912-8-8-Bare-Steel-with-Guide-Point">DIN 6912-8.8 Bare Steel with Guide
                          Point</a></li>
                      <li><a href="#!/DIN-7984-8-8-Bare-Steel">DIN 7984-8.8 Bare Steel</a></li>
                      <li><a href="#!/DIN-7984-10-9-Bare-Steel">DIN 7984-10.9 Bare Steel</a></li>
                      <li><a href="#!/DIN-7984-A2-Stainless-Steel">DIN 7984-A2 Stainless Steel</a></li>
                    </ul>
                  </div>

                  <div class="col-md-6">
                    <h2>Keys</h2>
                    <ul>
                      <li><a href="#!/DIN-911-ISO-2936-Short-Arm-Chrome-Vanadium">DIN 911 / ISO 2936 Short Arm Chrome
                          Vanadium</a></li>
                      <li><a href="#!/DIN-911-ISO-2936-Long-Arm-Chrome-Vanadium">DIN 911 / ISO 2936 Long Arm Chrome
                          Vanadium</a></li>
                      <li><a href="#!/DIN-6911-Guide-Point-Chrome-Vanadium">DIN 6911 Guide Point Chrome Vanadium</a>
                      </li>
                    </ul>

                  </div>

                  <div class="col-md-6">
                    <h2>Plugs</h2>
                    <ul>
                      <li><a href="#!/DIN-906-Hexagon-Socket-Pipe-Plug">DIN 906 Hexagon Socket Pipe Plug</a></li>
                      <li><a href="#!/DIN-908-Hexagon-Socket-Screw-Plug">DIN 908 Hexagon Socket Screw Plug</a></li>
                    </ul>
                  </div>

                </div>
              </div>

            </div> -->




        </li>
        <li class="dropdown">
          <a class="dropdown-toggle-j">Imperial Fasteners<span class="caret"></span></a>
          <div class="dropdown-menu">

            <div class="col-md-12">
              <h2>Holo-Krome</h2>
              <ul>
                <li><a href="#!/Holo-Krome-B7-Inch-Heavy-Hex-Cap-Screws">Holo-Krome-B7-Inch-Heavy-Hex-Cap-Screws</a>
                </li>
                <li><a
                    href="#!/holo-krome-grade-9-heavy-hex-cap-screw-imperial">holo-krome-grade-9-heavy-hex-cap-screw-imperial
                  </a></li>
                <li><a
                    href="#!/holo-krome-12-point-flange-screws-imperial">holo-krome-12-point-flange-screws-imperial</a>
                </li>
                <li><a href="#!/holo-krome-hex-cap-screw-silicon-bronze">holo-krome-hex-cap-screw-silicon-bronze</a>
                </li>
              </ul>
            </div>

            <div class="col-md-12">
              <h2>UNC / UNF</h2>
              <ul>
                <li><a href="#!/socket-cap-screws-unc-unf">Socket Cap Screws UNC UNF</a></li>
                <li><a href="#!/flat-head-countersunk-sockets-unc-unf">Head Countersunk Sockets UNC/UNF</a></li>
                <li><a href="#!/button-head-sockets-unc-unf">Button Head Sockets UNC/UNF</a></li>
                <li><a href="#!/shoulder-bolts-unc">Shoulder Bolts UNC</a></li>
                <li><a href="#!/cup-point-set-screws-unc-unf">Cup Point Set Screws UNC/UNF</a></li>
                <li><a href="#!/short-arm-hexagon-key-cv-steel-black-finish">Short Arm Hexagon Key CV Steel Black
                    Finish</a></li>
                <li><a href="#!/long-arm-hexagon-hey-cv-steel-satin-finish">Long Arm Hexagon Key CV Steel Satin
                    Finish</a></li>
                <li><a href="#!/pipe-plug">Pipe Plug (Dry/Flush Seal)</a></li>
              </ul>
            </div>

            <div class="col-md-12">
              <h2>Pins</h2>
              <ul>
                <li><a href="#!/slotted-spring-pin">Slotted Spring Pin</a></li>
                <li><a href="#!/dowel-pins">Dowel Pins (Case Hardened)</a></li>
                <li><a href="#!/non-vented-pull-dowel">Non-Vented Pull Dowel</a></li>
              </ul>
            </div>

            <div class="col-md-12">
              <h2>Repair Kits</h2>
              <ul>
                <li><a href="#!/thread-repair-kit">Thread Repair Kit</a></li>
              </ul>
            </div>

            <div class="col-md-12">
              <h2>Stainless Steel</h2>
              <ul>
                <li><a href="#!/thread-repair-insert">Thread Repair Insert</a></li>
              </ul>
            </div>

          </div>
        </li>
        <li><a href="#!/distributors">Distributors</a></li>
        <li><a href="#!/contactus">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- make a different file -->
<div class="banner">

  <div class="banner-content">
    <h1>kizfasteners</h1>
    <h2>Cutomer satisfaction is our highest priority</h2>
  </div>
</div>