<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/">kizfasteners</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!/">Home</a></li>
        <li><a href="#!/aboutus">About Us</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Metric Fasteners<span class="caret"></span></a>
          <div class="dropdown-menu">
            <h1>DIN 931 / ISO 4014 Partially Threaded Hex Cap Screw</h1>
            <ul>
              <li><a href="#!/inner-page">8.8 Grade Bare Steel / Zinc Plated</a></li>
              <li><a href="#!/inner-page">8.8 Grade Hot Dip Galvanized (ISO FIT)</a></li>
              <li><a href="#!/inner-page">10.9 Grade Bare Steel / Yellow Zinc Plated</a></li>
              <li><a href="#!/inner-page">10.9 Grade Bare Steel with Extended Threads</a></li>
              <li><a href="#!/inner-page">12.9 Grade Bare Steel</a></li>
              <li><a href="#!/inner-page">A2/A4 Stainless Steel</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#!/distributors">Distributors</a></li>
        <li><a href="#!/contactus">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="banner">
  <img src="images/website-banner.jpg" width="100%" />
</div>