<div class="table-responsive">
<table class="table" style="table-layout: auto;">
  <thead>
    <tr>
      <th>Nominal Size</th>
      <th>TPI</th>
      <th>Pkg.</th>
      <th>Order #</th>
    </tr>
  </thead>
  <colgroup>
    <col style="width: 177px;">
    <col style="width: 93px;">
    <col style="width: 71px;">
    <col style="width: 196px;">
  </colgroup>

  <tbody>
    <tr>
      <td>1/16</td>
      <td>27</td>
      <td>100</td>
      <td>A313-003-000D</td>
    </tr>
    <tr>
      <td>1/8</td>
      <td>27</td>
      <td>100</td>
      <td>A313-005-000D</td>
    </tr>
    <tr>
      <td>1/4</td>
      <td>18</td>
      <td>100</td>
      <td>A313-014-000D</td>
    </tr>
    <tr>
      <td>3/8</td>
      <td>18</td>
      <td>100</td>
      <td>A313-018-000D</td>
    </tr>
    <tr>
      <td>1/2</td>
      <td>14</td>
      <td>50</td>
      <td>A313-024-000D</td>
    </tr>
    <tr>
      <td>3/4</td>
      <td>14</td>
      <td>25</td>
      <td>A313-028-000D</td>
    </tr>
    <tr>
      <td>1</td>
      <td>11-1/2</td>
      <td>10</td>
      <td>A313-034-000D</td>
    </tr>
  </tbody>
  <fthfoot style="display:table-footer-group;">
    <fthrow style="display:table-row;height:0;">
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
    </fthrow>
  </fthfoot>
</table>
</div>


<div class="table-responsive">
<table class="table" style="table-layout: auto;">
  <thead>
    <tr>
      <th style="text-align: left;">Nominal Size</th>
      <th>TPI</th>
      <th>Pkg.</th>
      <th>Order #</th>
    </tr>
  </thead>
  <colgroup>
    <col style="width: 179px;">
    <col style="width: 94px;">
    <col style="width: 71px;">
    <col style="width: 193px;">
  </colgroup>

  <tbody>
    <tr>
      <td>1/16</td>
      <td>27</td>
      <td>100</td>
      <td>A313-003-000F</td>
    </tr>
    <tr>
      <td>1/8</td>
      <td>27</td>
      <td>100</td>
      <td>A313-005-000F</td>
    </tr>
    <tr>
      <td>1/4</td>
      <td>18</td>
      <td>100</td>
      <td>A313-014-000F</td>
    </tr>
    <tr>
      <td>3/8</td>
      <td>18</td>
      <td>100</td>
      <td>A313-018-000F</td>
    </tr>
    <tr>
      <td>1/2</td>
      <td>14</td>
      <td>50</td>
      <td>A313-024-000F</td>
    </tr>
    <tr>
      <td>3/4</td>
      <td>14</td>
      <td>25</td>
      <td>A313-028-000F</td>
    </tr>
    <tr>
      <td>1</td>
      <td>11-1/2</td>
      <td>10</td>
      <td>A313-034-000F</td>
    </tr>
  </tbody>
  <fthfoot style="display:table-footer-group;">
    <fthrow style="display:table-row;height:0;">
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
    </fthrow>
  </fthfoot>
</table></div>