/*
* global properties
*/

ul {
    padding: 0;
}

ul>li {
    list-style: none;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

/*
* overriding bootstrap properties
*/

.center-block {
    float: none !important
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0;
}


/*
* banner
*/
.banner {
    margin-bottom: 20px;
}

/*
* dashboard-container
*/
.dashboard-container .contact-list {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 15px;
}

.dashboard-container .contact-list>li>span {
    font-weight: bold;
}