/*
* global properties
*/
body {
    /* font-family: 'Roboto', sans-serif; */
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3,
h4 {
    font-size: 16px;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
}

ul>li i {
    padding-right: 10px;
}

p,
ul,
li,
a {
    font-size: 15px;
    color: #000000;
    font-weight: 400;
}

a,
a:hover,
a:active {
    color: #FFB800;
    text-decoration: none;
    cursor: pointer;
}

img {
    width: 100%;
}

.pull-center {
    text-align: center;
}

/*
* overriding bootstrap properties
*/

.center-block {
    float: none !important
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 24px;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    font-weight: 300;
}


.form-group {
    margin-bottom: 2rem;
}

.form-group em {
    font-size: 12px;
    color: #ff0000;
}

.top-right {
    right: 20px;
    top: 20px;
    z-index: 9999;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border: 1px solid #ddd;
}

table thead tr th {
    text-align: center;
}


.dropdown,
.dropleft,
.dropright,
.dropup {
    position: static;
}

.form-control {
    margin-bottom: 5px;
}

.form-control:focus {
    border-color: #da9f06;
    box-shadow: 0 0 0 0.2rem #FFB800;
}

span.btn-danger {
    cursor: pointer;
}


/* 
 * Pre loader
 */

[ng-cloak].cloak-loader {
    height: 70px;
    display: block !important;
    position: relative;
}

[ng-cloak].cloak-loader:after {
    content: '';
    width: 50px;
    height: 50px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 100%;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-bottom-color: #FFB800;
    animation: spin 1s linear 0s infinite;
}

@-moz-keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* 
 * Navigation Bar
 */

.navbar {
    margin-bottom: 0;
    z-index: 999;
    border-bottom: 10px solid #FFB800;
    width: 100%;
    background-color: #fff;
}

.navbar-light .navbar-brand {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: 500;
}

.dropdown-menu {

    border-radius: 0;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #fff;
}

.navbar-expand-sm .navbar-nav .nav-item>.dropdown-menu {

    top: 63px;
    width: 100%;
    background-clip: unset;
    border-right: 0;
    border-left: 0;
}

.navbar-expand-sm .navbar-nav .nav-item>.dropdown-menu .dropdown-menu {
    /* left: 250px;
    top: 0; */
    position: static;
    padding: 0;
}

.navbar-expand-sm .navbar-nav .nav-item>.dropdown-menu .dropdown-menu h2 {
    padding: 10px 20px;
    border-bottom: 1px solid #e6e0e0;
    background-color: #FFB800;
}


.dropdown-menu ul {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.dropdown-menu ul:last-child {
    border-bottom: 0;
}



/*
* home
*/
.container-main {
    padding-top: 30px;
    padding-bottom: 30px;
}

.block h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.grey-bg {
    background-color: #F0F0F0;
}

.orange-bg {
    background-color: #FFB800;
    color: #000000;
    padding: 5px 10px;
    width: 100%;
}

.orange-bg h1 {
    margin: 0;
}

.orange-bg h1+p {
    margin-top: 20px;
}

.light-grey-bg {
    background-color: #FAFBFE;
}


/*
* menu
*/

.dropdown-menu.active {
    display: block;
}

.sub-dropdown {
    display: none;
}

.sub-dropdown.active {
    display: block;
}

.sub-dropdown-heading {
    float: left;
    width: 100%;
}


/*
* carousel
*/


.carousel-inner .carousel-item {
    height: 400px;
    width: 100%;
    background-size: cover !important;
}

.carousel-inner .carousel-item:nth-child(n) {
    background: url(../images/website-banner-one.jpg) no-repeat;
    /* background: url('https://i.ibb.co/0hy2rgM/website-banner-one.jpg') no-repeat; */
}

.carousel-inner .carousel-item:nth-child(2n) {
    background: url(../images/website-banner-two.jpg) no-repeat;
    /* background: url('https://i.ibb.co/mRYBQ6K/website-banner-two.jpg') no-repeat; */
}

.carousel-inner .carousel-item:nth-child(3n) {
    background: url(../images/website-banner-three.jpg) no-repeat;
    background: url('https://i.ibb.co/FxN3L6N/website-banner-three.jpg') no-repeat;
}

.carousel-content {
    position: absolute;
    bottom: 30px;
    left: 100px;
}

.carousel-content h1 {
    font-weight: 500;
    display: inline-block;
    margin-bottom: 10px;
}



/*
* dashboard-container
*/

.dashboard-container .contact-list {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 15px;
}

.dashboard-container .contact-list>li>span {
    font-weight: bold;
}


/*
* application-areas-container
*/

.application-areas-container ul li {
    background-color: #fff;
    overflow: hidden;
}

.application-areas-container li:hover {
    background-color: #FFB800;
    color: #000000;
}

.application-areas-container li .bg {
    min-height: 150px;
    transition: 0.3s;
}

.application-areas-container li:hover .bg {
    transform: scale(1.2);
}

.application-areas-container li:hover .bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 184, 0, 0.5);
    opacity: 1;
    transition: all 0.8s;
    /*I've reduced this to a single line (prefixing isn't needed)!*/
}

.application-areas-container ul li:nth-child(2n) {
    background-color: #f0f0f0;
}

.application-areas-container li:hover:nth-child(2n) {
    background-color: #FFB800;
}

.application-areas-container li>h2 {
    padding: 35px 0 20px 0;
    text-align: center;
    font-size: 16px;
    margin: 0;
}

.application-areas-container .bg-cover-1 {
    background: url('../images/application-areas/1-Electrical-towers.jpg') no-repeat center center;
    /* background: url('https://i.ibb.co/Sm3T2Bd/1-Electrical-towers.jpg') no-repeat center center;     */
    background-size: cover;
}

.application-areas-container .bg-cover-2 {
    background: url('../images/application-areas/2-Electrical-equipment.jpg') no-repeat center center;
    /* background: url('https://i.ibb.co/31Q0TYG/2-Electrical-equipment.jpg') no-repeat center center;  */
    background-size: cover;
}

.application-areas-container .bg-cover-3 {
    background: url('../images/application-areas/3-Structural-plants.jpg') no-repeat center center;
    /* background: url('https://i.ibb.co/12fBTTM/3-Structural-plants.jpg') no-repeat center center;   */
    background-size: cover;
}

.application-areas-container .bg-cover-4 {
    background: url('../images/application-areas/4-Swimming-pool.jpg') no-repeat center center;
    /* background: url('https://i.ibb.co/xqS3GQR/4-Swimming-pool.jpg') no-repeat center center;  */
    background-size: cover;
}

.application-areas-container .bg-cover-5 {
    background: url('../images/application-areas/5-Furnaces.jpg') no-repeat center center;
    /* background: url('https://i.ibb.co/TkQr9PY/5-Furnaces.jpg') no-repeat center center;     */
    background-size: cover;
}

.application-areas-container .bg-cover-6 {
    background: url('../images/application-areas/6-Pharmaceutical-industries.jpg') no-repeat center center;
    /* background: url('https://i.ibb.co/fQ1QBvt/6-Pharmaceutical-industries.jpg') no-repeat center center;     */
    background-size: cover;
}

.application-areas-container .bg-cover-7 {
    background: url('../images/application-areas/7-Food-&-beverage-industry.jpg') no-repeat center center;
    /* background: url('https://i.ibb.co/tM5wy9j/7-Food-beverage-industry.jpg') no-repeat center center;     */
    background-size: cover;
}

.application-areas-container .bg-cover-8 {
    background: url('../images/application-areas/8-Chemical-machinery.jpg') no-repeat center center;
    /* background: url('https://i.ibb.co/x1jHCDf/8-Chemical-machinery.jpg') no-repeat center center;      */
    background-size: cover;
}

.application-areas-container .bg-cover-9 {
    background: url('../images/application-areas/9-Building-interiors.jpg') no-repeat center center;
    /* background: url('https://i.ibb.co/MZMq0JV/9-Building-interiors.jpg') no-repeat center center;     */
    background-size: cover;

}

.application-areas-container .bg-cover-10 {
    background: url('../images/application-areas/10-Roofing.jpg') no-repeat center center;
    /* background: url('https://i.ibb.co/41DCS6D/10-Roofing.jpg') no-repeat center center; */
    background-size: cover;

}

.application-areas-container .bg-cover-11 {
    background: url('../images/application-areas/11-Installation-of-refineries.jpg') no-repeat center center;
    /* background: url('https://i.ibb.co/nnRvLXQ/11-Installation-of-refineries.jpg') no-repeat center center;  */
    background-size: cover;
}


/*
*   tiles
*/
.tiles {
    padding: 20px;

}

.tiles-container .tiles {
    min-height: 185px;
}

.tiles h2,
h6 {
    position: relative;
    padding-bottom: 10px;
}

.tiles h2:after,
h6:after {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid #ffffff;
    height: 1px;
    width: 89px;
}

.tiles-container .bg {
    width: 100%;
    height: 200px;
}

.tiles-container>div:nth-child(1n) .bg {
    /* background: url('../images/vision.jpg') no-repeat; */
    background: url('https://i.ibb.co/Fh1TdFN/vision.jpg') no-repeat;
    background-size: cover;
}

.tiles-container>div:nth-child(2n) .bg {
    /* background: url('../images/mission.jpg') no-repeat; */
    background: url('https://i.ibb.co/Ry9xYnN/mission.jpg') no-repeat;
    background-size: cover;
}

.tiles-container>div:nth-child(3n) .bg {
    /* background: url('../images/motto.jpg') no-repeat; */
    background: url('https://i.ibb.co/NSNWq60/motto.jpg') no-repeat;
    background-size: cover;
}


/*
*   inner pages
*/

.category h1 {
    font-size: 35px;
    font-style: italic;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.inner-container h2,
.inner-container h3 {
    margin-bottom: 10px;
}

.category-description h1,
.category-description p {
    margin-bottom: 0;
}

.nav li h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 10px 0;
}

table {
    text-align: center;
}

table thead tr {
    color: #ffffff;
}

/*
* contact-us
*/

.contact-us {
    padding: 20px 0;
}

.contact-us .card {
    min-height: 214px;
    margin-bottom: 0;
}

.contact-us form {
    width: 60%;
}

.contact-us-error {
    color: red;
    font-size: 13px;
    font-style: italic;
}

.contact-us label {
    display: block;
}

.contact-us label label {
    font-size: 13px;
    line-height: 23px;
}

.btn.orange-bg {
    width: auto;
}

address p {
    margin-bottom: 0;
    font-style: italic;
}

/*invalid form*/
.form-control.ng-invalid-required.ng-touched {
    border-color: #ff0000;
    box-shadow: 0 0 0 0.2rem #f99090;
}



/*
*   faq
*/

.card {
    border-color: #FFB800;
    margin-bottom: 15px;
    border-radius: 0;
}

.card:last {
    margin-bottom: 0;
}

.card-header {
    border-bottom: none;
}

.card-header .btn-link {
    color: #000000
}

.card-body h2 {
    margin-bottom: 6px;
}


/*
* footer
*/

footer {
    text-align: center;
    background-color: #1b1b1b;
    color: #fff;
}

footer a,
footer a:hover,
footer a:active,
footer p {
    color: #ffffff;
}

footer .social-media {
    background-color: #FFB800;
    color: #000000;
}

footer h6:after {
    border-bottom-color: #FFB800;
}

footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0, 0, 0, .2);
    color: rgba(255, 255, 255, .6);
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

/*
* Media queries && Portable devices 
*/

@media only screen and (max-width: 768px) {
    .dropdown-item {
        white-space: normal;
    }

    .carousel-content {
        left: 0;
        width: 100%;
    }

    .tiles+.bg {
        margin-bottom: 3rem;
    }

    .tiles.last+.bg {
        margin-bottom: 0;
    }

    .tiles h2:after,
    h6:after {
        left: 50%;
        margin-left: -45px;
    }

    .contact-us .card {
        margin-bottom: 15px;
    }
}