<div class="inner-container mt-5 mb-5">
  
  <div class="table-responsive">
    <table class="table" style="table-layout: auto;">
      <thead class="thead-dark">
        <tr>
          <th colspan="2">Basic Pin Diameter (d)</th>
          <th>1/8</th>
          <th>3/16</th>
          <th>1/4</th>
          <th>5/16</th>
          <th>3/8</th>
          <th>1/2</th>
          <th>5/8</th>
          <th>3/4</th>
          <th>1</th>
        </tr>
        <tr>
          <th colspan="2">Diameter Code</th>
          <th>005</th>
          <th>009</th>
          <th>014</th>
          <th>016</th>
          <th>018</th>
          <th>024</th>
          <th>026</th>
          <th>028</th>
          <th>034</th>
        </tr>
        <tr>
          <th colspan="2">Nominal</th>
          <th>0.1250</th>
          <th>0.1875</th>
          <th>0.2500</th>
          <th>0.3125</th>
          <th>0.3750</th>
          <th>0.5000</th>
          <th>0.6250</th>
          <th>0.7500</th>
          <th>1.0000</th>
        </tr>
        <tr>
          <th colspan="2">Basic Diameter</th>
          <th>0.1252</th>
          <th>0.1877</th>
          <th>0.2502</th>
          <th>0.3127</th>
          <th>0.3752</th>
          <th>0.5002</th>
          <th>0.6252</th>
          <th>0.7502</th>
          <th>1.0002</th>
        </tr>
        <tr>
          <th colspan="2">Pin Diameter max.</th>
          <th>0.1253</th>
          <th>0.1878</th>
          <th>0.2503</th>
          <th>0.3128</th>
          <th>0.3753</th>
          <th>0.5003</th>
          <th>0.6253</th>
          <th>0.7503</th>
          <th>1.0003</th>
        </tr>
        <tr>
          <th colspan="2">Pin Diameter min.</th>
          <th>0.1251</th>
          <th>0.1876</th>
          <th>0.2501</th>
          <th>0.3126</th>
          <th>0.3751</th>
          <th>0.5001</th>
          <th>0.6251</th>
          <th>0.7501</th>
          <th>1.0001</th>
        </tr>
        <tr>
          <th colspan="2">Crown Height</th>
          <th>.041</th>
          <th>.062</th>
          <th>.083</th>
          <th>.104</th>
          <th>.125</th>
          <th>.167</th>
          <th>.208</th>
          <th>.250</th>
          <th>.333</th>
        </tr>
        <tr>
          <th>Length (l)</th>
          <th>Code</th>
          <th colspan="9">Pkg.</th>
        </tr>
      </thead>
      <colgroup>
        <col style="width: 203px;">
        <col style="width: 84px;">
        <col style="width: 111px;">
        <col style="width: 111px;">
        <col style="width: 111px;">
        <col style="width: 112px;">
        <col style="width: 112px;">
        <col style="width: 112px;">
        <col style="width: 112px;">
        <col style="width: 112px;">
        <col style="width: 112px;">
      </colgroup>

      <tbody>
        <tr>
          <td>3/8</td>
          <td>0038</td>
          <td>100</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>1/2</td>
          <td>0050</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>5/8</td>
          <td>0063</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>3/4</td>
          <td>0075</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>7/8</td>
          <td>0088</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>1</td>
          <td>0100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>50</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>1-1/4</td>
          <td>0125</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>50</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>1-1/2</td>
          <td>0150</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>50</td>
          <td>25</td>
          <td></td>
        </tr>
        <tr>
          <td>1-3/4</td>
          <td>0175</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>50</td>
          <td>50</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>0200</td>
          <td></td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>50</td>
          <td>50</td>
          <td>25</td>
          <td>10</td>
        </tr>
        <tr>
          <td>2-1/4</td>
          <td>0225</td>
          <td></td>
          <td></td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>50</td>
          <td>50</td>
          <td>25</td>
          <td></td>
        </tr>
        <tr>
          <td>2-1/2</td>
          <td>0250</td>
          <td></td>
          <td></td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>50</td>
          <td>50</td>
          <td>25</td>
          <td>10</td>
        </tr>
        <tr>
          <td>3</td>
          <td>0300</td>
          <td></td>
          <td></td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>50</td>
          <td>25</td>
          <td>25</td>
          <td>10</td>
        </tr>
        <tr>
          <td>3-1/2</td>
          <td>0350</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>100</td>
          <td>25</td>
          <td>25</td>
          <td>10</td>
          <td>10</td>
        </tr>
        <tr>
          <td>4</td>
          <td>0400</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>100</td>
          <td>25</td>
          <td>25</td>
          <td>10</td>
          <td>10</td>
        </tr>
        <tr>
          <td>4-1/2</td>
          <td>0450</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>25</td>
          <td>25</td>
          <td>10</td>
          <td>5</td>
        </tr>
        <tr>
          <td>5</td>
          <td>0500</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>25</td>
          <td>10</td>
          <td>10</td>
          <td>5</td>
        </tr>
        <tr>
          <td colspan="11">Order Number -&gt; 1/4×1= P304-014-0100 (Diameter Code x Length Code)</td>
        </tr>
      </tbody>
      <fthfoot style="display:table-footer-group;">
        <fthrow style="display:table-row;height:0;">
          <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
          <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
          <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
          <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
          <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
          <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
          <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
          <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
          <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
          <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
          <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        </fthrow>
      </fthfoot>
    </table>
  </div>


  <p><strong>Installation Warning</strong>: Dowel pins should <strong>not</strong> be installed by striking or hammering
    and when installing with a press, a shield should be used and safety glasses worn. Hardened ground machine dowel
    pins
    shall have sufficient ductility to withstand being <strong>pressed</strong> into the recommended holes without
    cracking or shattering. Because of the wide variety of materials in which dowel pins are used and the many design
    requirements which must be considered, it is not possible to provide hole size recommendations that will be suitable
    for all applications.</p>
</div>