<div class="table-responsive">
  <table class="table" style="table-layout: auto;">
    <thead>
      <tr>
        <th colspan="2">Basic Pin Diameter</th>
        <th>1/4</th>
        <th>5/16</th>
        <th>3/8</th>
        <th>1/2</th>
        <th>5/8</th>
        <th>3/4</th>
        <th>1</th>
      </tr>
      <tr>
        <th colspan="2">Diameter Code</th>
        <th>014</th>
        <th>016</th>
        <th>018</th>
        <th>024</th>
        <th>026</th>
        <th>028</th>
        <th>034</th>
      </tr>
      <tr>
        <th colspan="2">Internal Thread Size</th>
        <th>#8-32</th>
        <th>#10-32</th>
        <th>#10-32</th>
        <th>1/4-20</th>
        <th>1/4-20</th>
        <th>5/16-18</th>
        <th>5/16-18</th>
      </tr>
      <tr>
        <th colspan="2">Finished Diameter</th>
        <th>.2501/ .2503</th>
        <th>.3126/ .3128</th>
        <th>.3751/ .3753</th>
        <th>.5001/ .5003</th>
        <th>.6251/ .6253</th>
        <th>.7501/ .7503</th>
        <th>1.0001/ 1.0003</th>
      </tr>
      <tr>
        <th colspan="2">“R” Nominal</th>
        <th>.05</th>
        <th>.0625</th>
        <th>.075</th>
        <th>.1</th>
        <th>.125</th>
        <th>.15</th>
        <th>.2</th>
      </tr>
      <tr>
        <th>Length</th>
        <th>Code</th>
        <th colspan="7">Pkg.</th>
      </tr>
    </thead>
    <colgroup>
      <col style="width: 126px;">
      <col style="width: 69px;">
      <col style="width: 152px;">
      <col style="width: 153px;">
      <col style="width: 153px;">
      <col style="width: 153px;">
      <col style="width: 153px;">
      <col style="width: 153px;">
      <col style="width: 180px;">
    </colgroup>

    <tbody>
      <tr>
        <td>1/2</td>
        <td>0050</td>
        <td>100</td>
        <td>25</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>3/4</td>
        <td>0075</td>
        <td>100</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>1</td>
        <td>0100</td>
        <td>100</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td></td>
      </tr>
      <tr>
        <td>1-1/4</td>
        <td>0125</td>
        <td>100</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td></td>
      </tr>
      <tr>
        <td>1-1/2</td>
        <td>0150</td>
        <td>100</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td></td>
      </tr>
      <tr>
        <td>1-3/4</td>
        <td>0175</td>
        <td>100</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td></td>
        <td>25</td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td>0200</td>
        <td>100</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>10</td>
      </tr>
      <tr>
        <td>2-1/4</td>
        <td>0225</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td></td>
      </tr>
      <tr>
        <td>2-1/2</td>
        <td>0250</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>10</td>
      </tr>
      <tr>
        <td>2-3/4</td>
        <td>0275</td>
        <td></td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td></td>
        <td>25</td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td>0300</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>10</td>
      </tr>
      <tr>
        <td>3-1/2</td>
        <td>0350</td>
        <td></td>
        <td></td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>4</td>
        <td>0400</td>
        <td></td>
        <td></td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>10</td>
        <td>10</td>
      </tr>
      <tr>
        <td>4-1/2</td>
        <td>0450</td>
        <td></td>
        <td></td>
        <td></td>
        <td>25</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>5</td>
        <td>0500</td>
        <td></td>
        <td></td>
        <td></td>
        <td>25</td>
        <td></td>
        <td></td>
        <td>5</td>
      </tr>
      <tr>
        <td colspan="9">Order Number -&gt; 1/4×1= P340-014-0100 (Diameter Code x Length Code)</td>
      </tr>
    </tbody>
    <fthfoot style="display:table-footer-group;">
      <fthrow style="display:table-row;height:0;">
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
        <fthtd style="display:table-cell;height:0;width:auto;"></fthtd>
      </fthrow>
    </fthfoot>
  </table>

</div>


<p>*<em>Vented pull dowels available upon request.</em></p>
<p><strong>Installation Warning:</strong> &nbsp;Dowel pins should <strong>not</strong> be installed by striking or
  hammering and when installing with a press, a shield should be used and safety glasses worn. &nbsp;Hardened ground
  machine dowel pins shall have sufficient ductility to withstand being <strong>pressed</strong> into the recommended
  holes without cracking or shattering. &nbsp; Because of the wide variety of materials in which dowel pins are used and
  the many design requirements which must be considered, it is not possible to provide hole size recommendations that
  will be suitable for all applications.</p>