<h1>Importance of a Fastener</h1>
<p>Fasteners literally hold industry together. They are very important because each component, machinery, vehicle needs
  a fastener to hold it together. An incorrect or missing fastener can lead to disastrous consequences. A fastener may
  be a small piece of the design process, but this small component is very significant.</p>


<h2>Our Latest Offerings:</h2>

<!-- offering block -->
<div class="offering-block">

  <h3>Black Passivated Stainless Steel Screws</h3>
  <p>Adding to our ever growing range are BLACK Passivated Stainless Steel Screws.This finish is very useful to reduce
    light reflection from parts, provide an integrated finish to black coloured products & parts and also for decorative
    purposes.</p>

  <p>It is a conversion coating that produces a uniform, attractive, and non-reflective black finish on stainless
    steels. It provides a permanent black colour with exceptional strength and elasticity. The finish does not chip,
    peel, craze, or rub off and provides good resistance to wear and abrasion. The coating reduces friction of moving
    parts, preventing galling and scoring. Improved corrosion resistance is obtained and there is a negligible
    dimensional build up, smooth screw assembly is assured.</p>

  <p>At present, our shelf stock includes PAN Phillips and CSK Phillips screws in Metric Threads. Other screws can be
    provided on order.</p>

</div>
<!-- ./offering block -->


<!-- offering block -->
<div class="offering-block">

  <h3>Captive Screws</h3>
  <p>Captive screws basically are specially designed to lock into position in a hole, enabling easy setting up and
    removing of the attached pieces even without the complete removal of the screw.</p>

</div>
<!-- ./offering block -->

<!-- offering block -->
<div class="offering-block">

  <h3>Slim Ultra Low Profile Torx Screws</h3>
  <p>Ultra-thin head screw that are up to 77% thinner than conventional screw heads which makes possible flat external
    surface and contributes low-profile design and weight saving.</p>

</div>
<!-- ./offering block -->

<!-- offering block -->
<div class="offering-block">

  <h3>Heico-Lock Wedge Washer</h3>
  <p>Suitable for dynamic loads
    Increases Clamping force
    Easy installation and removal
    Secures bolt fastening with preload force</p>

</div>
<!-- ./offering block -->


<!-- offering block -->
<div class="offering-block">

  <h3>Titanium Fasteners </h3>
  <p>Corrosion resistant,
    High tensile strength
    ​Non Magnetic
    Lightweight – weighs half of stainless steel.
    Non Toxic: Safe for the human body</p>

</div>
<!-- ./offering block -->
