<h1>Company Profile</h1>
<p>ncepted in the year 2016, Kizfasteners Industries is an organization engaged in exporting and supplying varied industrial fasteners such as hex bolt, hex nut, plain washers, spring washers, and machine screws. In addition to these, we are also offering socket head cap screws, socket head grub screws, philips head machine screws, self-tapping screws, threaded studs. Our range of fasteners meets the varied application requirements of industries, where environmental and corrosion resistance is of paramount importance like electrical towers, furnaces, pharmaceutical industry and food & beverage industry, electronic equipment, structural plant, chemical industries, and marine.</p>

<p>We seek to supply anyone who requires stainless steel fasteners. Our stock range covers from the smallest to the largest for all types, in Metric and BSW threads and special products, made to order.</p>

<p>The fasteners offered by us are in compliance with BS, IS & DIN standards and thus, are known for corrosion resistance and durability. Our strong emphasis lies on quality and our entire range of fasteners is subject to stringent quality checks to ensure that the best and flawless products delivered to the market offering maximum satisfaction to the end users. Furthermore, our wide distribution network enables us in meeting the demands of our clients in the global market.</p>

<h1>Application Areas</h1>

<p>We offer a wide range of industrial Fasteners that are in compliance with IS, BS and DIN standards. Our product range finds application in various areas such as: </p>
<ul>
  <li>Electrical towers</li>
  <li>Electrical equipment</li>
  <li>Structural plants</li>
  <li>Marine, Swimming pool</li>
  <li>Furnaces</li>
  <li>Pharmaceutical industries</li>
  <li>Food & beverage industry, Home appliances</li>
  <li>Chemical machinery</li>
  <li>Building interiors</li>
  <li>Roofing</li>
  <li>Installation of refineries</li>
</ul>

<h1>Vision</h1>
<p>To become the most reliable distributor of stainless steel & high tensile fasteners across the globe.</p>

<h1>Mission</h1>
<p>To work harder & expand our self geographically.</p>

<h1>Motto</h1>
<p>We help you fasten better</p>

<h1>Quality Assurance</h1>
<p>We have always followed a systematic quality management procedure to maintain the quality standards of our range of industrial fasteners. We adhere to the international quality standards in procuring our entire range of fasteners. Our team of quality controllers enables us to offer technologically advance fasteners, undertaking stringent quality check in procuring and delivering process. Additionally, our range of fasteners adheres to different standards such as IS, BS & DIN.</p>

<h1>Customer Satisfaction</h1>
<p>We always work bearing in mind about satisfying our customers and establish long-term customer relationship. So we endeavor to understand and offer our customers exactly what they require with quality beyond  their anticipation.</p>

<!-- offering block -->
<!-- <div class="offering-block">

  <h3>Black Passivated Stainless Steel Screws</h3>
  <p>Adding to our ever growing range are BLACK Passivated Stainless Steel Screws.This finish is very useful to reduce
    light reflection from parts, provide an integrated finish to black coloured products & parts and also for decorative
    purposes.</p>

  <p>It is a conversion coating that produces a uniform, attractive, and non-reflective black finish on stainless
    steels. It provides a permanent black colour with exceptional strength and elasticity. The finish does not chip,
    peel, craze, or rub off and provides good resistance to wear and abrasion. The coating reduces friction of moving
    parts, preventing galling and scoring. Improved corrosion resistance is obtained and there is a negligible
    dimensional build up, smooth screw assembly is assured.</p>

  <p>At present, our shelf stock includes PAN Phillips and CSK Phillips screws in Metric Threads. Other screws can be
    provided on order.</p>

</div> -->
<!-- ./offering block -->


<!-- offering block -->
<!-- <div class="offering-block">

  <h3>Captive Screws</h3>
  <p>Captive screws basically are specially designed to lock into position in a hole, enabling easy setting up and
    removing of the attached pieces even without the complete removal of the screw.</p>

</div> -->
<!-- ./offering block -->

<!-- offering block -->
<!-- <div class="offering-block">

  <h3>Slim Ultra Low Profile Torx Screws</h3>
  <p>Ultra-thin head screw that are up to 77% thinner than conventional screw heads which makes possible flat external
    surface and contributes low-profile design and weight saving.</p>

</div> -->
<!-- ./offering block -->

<!-- offering block -->
<!-- <div class="offering-block">

  <h3>Heico-Lock Wedge Washer</h3>
  <p>Suitable for dynamic loads
    Increases Clamping force
    Easy installation and removal
    Secures bolt fastening with preload force</p>

</div> -->
<!-- ./offering block -->


<!-- offering block -->
<!-- <div class="offering-block">

  <h3>Titanium Fasteners </h3>
  <p>Corrosion resistant,
    High tensile strength
    ​Non Magnetic
    Lightweight – weighs half of stainless steel.
    Non Toxic: Safe for the human body</p>

</div> -->
<!-- ./offering block -->
